<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uplot@1.6.30/dist/uPlot.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <main>
        <div class="left-div">
            <div id="show" class="graphik-div"></div>
        </div>
        <div class='right-div'>
            <div class="right-upper-bar">
                <div class="new-row">
                    <button id="ws_connect">Connect</button>
                    <button id="ws_disconnect">Disconnect</button>
                    <button id="plot_pause">Pause</button>
                </div>
                <div class="new-row">
                    <label class="input-container">
                        <input type="number" class="styled-input" id="quantity-input" placeholder="Quantity of points on plot.">
                    </label>
                    <button id="apply">Apply</button>
                </div>
            </div>
        </div>
    </main>

    <script src="/js/home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uplot@1.6.30/dist/uPlot.iife.min.js"></script>
</body>
</html>